#pictures {
  background: url(../img/back_images.jpg) #231f20 no-repeat center center fixed;
  min-height: 100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fa-camera-retro {
  color: #4ec3cd;
  font-size: 22px;
  display: block;
  padding-top: 15px;
  width: 60px;
  height: 60px;
  border: 2px solid #4ec3cd;
  border-radius: 30px;
  margin: auto;
}

ul.cross {
  /* Подтягиваем "хвост" */
  margin-bottom: -45px;
  max-width: 1355px;

}
  ul.cross {
    text-align: center;

    /* Лекарство для IE6-7*/
    //text-justify: newspaper;
    //text-align-last: justify;

  }

  ul.cross > div.neos-contentcollection > li {
    /*width : 320px;
    height: 320px;
    margin: 10px;
    float: left;
    vertical-align: top;*/

    width: 345px;
    min-height: 320px;
    border: 1px solid #000;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    float: left;
    margin: 5px;
    zoom: 1;
    *display: inline;
    _height: 320px;
  }

li.helper {
  word-spacing: 342px;
  padding-left: 342px;
  visibility: hidden;
  display: inline;
  width: auto;
  height: auto;
  background: none;


  /* Корректировка для IE6-7*/
  //margin-left: 5px;

  /* Возврат zoom в значение по умолчанию*/
  //zoom: normal;

}

ul.cross > div.neos-contentcollection > li > a > img{
  margin-top: 10px;
  max-width: 320px;
  max-height: 240px;
  vertical-align: top;
}
